.PostHeader{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    height: 5.4rem;
    margin: 0 auto;
    justify-content: center;
}

.PostHeader img{
    width: 20px;
    height: 20px;
}